<div class="modal-body p-5">
    <div class="text-xxxl font-wght-900 text-center f-lato mt-3 mb-3">Patient Details</div>
    <form [formGroup]="addPatientForm" (ngSubmit)="addPatientDetails(addPatientForm)">
        <label class="text-left mb-0 text-dark font-wght-700 text-md f-lato">Name</label>
        <input type="text" placeholder="John" formControlName="name">
        <label class="text-left mb-0 text-dark font-wght-700 text-md f-lato">Contact Number</label>
        <input type="text" placeholder="98765433456" formControlName="contactNumber">
        <button class="btn btn-primary-rounded btn-block mt-3 w-100 mx-auto" [disabled]="!addPatientForm.valid">Add Patient</button>
        <p class = "text-light mx-auto text-center pointer mt-3" (click)="cancel()">Cancel</p>
    </form>
</div>