.btn {
    border-radius: 5px !important;
}
.btn-primary {
    background-color: #066CD1 !important;
    border-color: #066CD1 !important;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1) !important;
    border-radius: 13px !important;
    height: 50px;
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
}
.btn-primary-rounded {
    background-color: #066CD1 !important;
    border-color: #066CD1 !important;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1) !important;
    border-radius: 13px !important;
    height: 50px;
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
    border-radius: 50px !important;
    color: #ffffff !important;
}
.btn-primary-outline {
    background-color: #ffffff !important;
    border-color: #066CD1 !important;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1) !important;
    border-radius: 13px !important;
    height: 50px;
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
    border-radius: 50px !important;
    color: #066CD1 !important;
}
.btn-primary:disabled {
    border-color: #066CD1 !important;
}
.btn-warning {
    background-color: #FDB32E !important;
    border-color: #FDB32E !important;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1) !important;
    border-radius: 13px !important;
    height: 50px;
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
    color: #ffffff !important;
}
.btn-warning:disabled {
    border-color: #FDB32E !important;
}
.btn-danger {
    background-color: #EB5500 !important;
    border-color: #EB5500 !important;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1) !important;
    border-radius: 13px !important;
    height: 50px;
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
}
.btn-danger:disabled {
    border-color: #EB5500 !important;
}
.btn:focus {
    border-color: none !important;
}
.btn-outline-primary {
    background-color: #ffffff !important;
    border-color: #066CD1 !important;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1) !important;
    border: 2px solid #066CD1 !important;
    border-radius: 10px !important;
    height: 50px;
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
    color: #066CD1 !important; 
}